* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffff;

    --gray-50: #e1e1e6;
    --gray-300: #a8a8b3;
    --gray-800: #29192e;
    --gray-900: #121214;

    --cyan-500: #61dafb;
    --yellow-500: #eba417;
}

@media (max-width: 1080px) { /*Tamanho de Ipad*/
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) { /*Tamanho de celular*/
    html {
        font-size: 87.5%;
    }
}


body {
    background-color: var(--gray-900);
    color: var(--white);
}

body, input, textarea, select, button {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit; /*Herdar a cor do Pai*/
    text-decoration: none;
}